@page
@model WebApp.Pages.Jobs.IndexModel

@{
    ViewData["Title"] = "Jobs";
}

<h1>Jobs</h1>

<table class="table">
    <thead>
        <tr>
            <th>Client Name</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Item Details</th>
            @if (Model.IsAdmin)
            {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach (var job in Model.Job)
    {
        <tr>
            <td>@job.ClientName</td>
            <td>@job.TotalPrice.ToString()</td>
            <td>
                @{
                    var status = job.EndTime != null ? "Closed" :
                                 job.StartTime != null ? "Active" : "Suspended";
                }
                @status
            </td>
            <td>
                @foreach (var item in job.JobItems)
                {
                    <p>@item.Item.ItemName - Qty: @item.NeededQuantity, Category: @item.Item.Category.CategoryName, Location: @item.Item.Location.LocationName</p>
                }
            </td>
            @if (Model.IsAdmin && status == "Active")
            {
                <td>
                    <form method="post" asp-page-handler="MarkAsClosed" asp-route-jobId="@job.Id">
                        <button type="submit" class="btn btn-primary">Mark as Closed</button>
                    </form>
                </td>
            }
        </tr>
    }
    </tbody>
</table>
