@page
@model WebApp.Pages.Items.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].CurrentQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].OptimalQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].PricePerItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptimalQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Update Quantity</a> 
            </td>
        </tr>
}
    </tbody>
</table>
